@model FinalProject_WhatsAPPening.Models.Request
@{
    ViewBag.Title = "Index";
}


<h2>What to Do?</h2>
@using (Html.BeginForm())
{ 
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Enter the number of people and total budget, then select a cuisine type: </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*Number of People*@
    <div class="form-group">
        @Html.LabelFor(model => model.numPeople, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numPeople, new { htmlAttributes = new { @class = "form-control", @min = "1", @max = "10" } })
            @Html.ValidationMessageFor(model => model.numPeople, "", new { @class = "text-danger" })
        </div>
    </div>

        @*Budget*@
        <div class="form-group" > 
            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", @min = "0", @step = "10" } })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Cuisine Type*@
        <div class="form-group">
            <label class="control-label col-md-2" for="categoryDropdown">Category</label>
            <div class="col-md-10">
                <select class="form-control" name="categoryDropdown" id="categoryDropdown">
                    <option value="american" selected>American</option>
                    <option value="italian">Italian</option>
                    <option value="seafood">Seafood</option>
                    <option value="mexican">Mexican</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="southern">Southern</option>
                    <option value="asian">Asian</option>
                    <option value="coffee">Coffee</option>
                    <option value="deli">Deli</option>
                    <option value="pub food">Pub Food</option>
                    <option value="thai">Thai</option>
                    <option value="soup">Soup</option>
                    <option value="mediterranean">Mediterranean</option>
                    <option value="sushi">Sushi</option>
                    <option value="pizza">Pizza</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="Category" data-valmsg-replace="true"></span>
            </div>
        </div>

    @*Zip Code*@
    <div class="form-group">
        @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
            @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Go! button*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Go!" class="btn btn-default" />
        </div>
    </div>

</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
