@model FinalProject_WhatsAPPening.Models.ResultViewModel

@{
    ViewBag.Title = "ResultTemp";
}

<h2>Results!</h2>


    <font size="6">
        What to do:
        <a href="@Model.ActivityResult.Link" target="_blank">

            <span title="@Model.ActivityResult.StreetAddress">@Model.ActivityResult.Venue</span>

        </a>

        <br />

        Where to Eat:
        <a href="@Model.RestaurantResult.Website" target="_blank">
            <span title="@Model.RestaurantResult.Address"> @Model.RestaurantResult.Name</span>
        </a>
    </font>


<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>

    @Html.ActionLink("Try Again", "Index")
</p>
