@model FinalProject_WhatsAPPening.Models.ResultViewModel

@{
    ViewBag.Title = "ResultTemp";
}

<h2>Results!</h2>
Experience @Model.ActivityResult.Category at <a href="@Model.ActivityResult.Link" target="_blank"<span title="@Model.ActivityResult.StreetAddress">@Model.ActivityResult.Venue</span></a> along with a meal at <span title="@Model.RestaurantResult.Address"> @Model.RestaurantResult.Name </span>
<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>

    @Html.ActionLink("Try Again", "Index")
</p>
